.popUp {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--color-card-bg);
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    left: 1.5rem;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    margin: 1rem 0;
}

.closeButton:hover {
    color: var(--color-text);
    background-color: var(--color-card-bg);
    scale: 1.2;
    font-size: 1.5rem;
    cursor: pointer;
}

.popUpContent {
    padding: 2rem 1rem;
    max-width: 700px;
    margin: 0 auto;
}