a {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.3s ease;
    padding: 0.5rem;
}

a:hover {
    color: var(--color-button);
}

.active {
    color: var(--color-button);
    border-bottom: 1px solid var(--color-button);
}